/*@mixin custom-font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}*/
* {
  box-sizing: border-box;
}

.App {
  text-align: center;

  section {
    width: 500px;
    margin: 50px auto;
    -webkit-box-shadow: -1px 4px 29px 2px rgba(171,169,171,0.81);
    -moz-box-shadow: -1px 4px 29px 2px rgba(171,169,171,0.81);
    box-shadow: -1px 4px 29px 2px rgba(171,169,171,0.81);
  }

  h1 {
    margin: 0;
  }
  .completed {
    text-decoration: line-through;
  }

  .selected {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

